@mixin clearfix {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}

@mixin button-hover-effect {
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgba($color-black, 0.3);
}

@mixin button-active-effect {
  transform: translateY(-1px);
  text-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
}

@mixin vertical-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
