@mixin clearfix {
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin button-hover-effect {
  transform: translateY(-3px);
  text-shadow: 0 1rem 2rem rgba($color-black, 0.3);
}

@mixin button-active-effect {
  transform: translateY(-1px);
  text-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
}

@mixin vertical-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
  break points : 
  - phone : 0 - 600
  - tab-port : 600-900
  -tab-land : 900-1200
  [normal styles will apply to range 1200 - 1800]
  -big-desktop : 1800 - infinity

  making responsive order : 
  base + typography > general layout + grid > page layout > components
*/

@mixin response($breakpoint) {
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
}
