.form {
  // SIMPLE FORM INPUT AND LABEL
  &__group {
    margin-bottom: 3rem;
  }

  &__input {
    width: 100%;
    font-size: $font-size-primary;
    font-family: inherit;
    color: inherit;
    display: block;
    background-color: rgba($color-white, 0.5);
    border: none;
    padding: 1.5rem 2rem;
    border-radius: $border-radius-primary;
    border-bottom: 3px solid transparent;
    box-shadow: 0 1em 2rem rgba($color-black, 0.1);
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1em 2rem rgba($color-black, 0.1);
    }

    &:focus:valid {
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  // RADIO BUTTONS
  &__radio-group {
    width: 49%;
    display: inline-block;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio {
    display: none;
  }

  &__radio-label {
    font-size: $font-size-primary;
    text-transform: capitalize;
    cursor: pointer;
  }

  &__radio-button {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -0.2rem;
    left: 0;

    &::after {
      content: '';
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $color-primary;
      border-radius: 50%;
      opacity: 0;

      @include vertical-horizontal-center;
    }
  }
  &__radio:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
