.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  opacity: 0;
  visibility: hidden;

  @include response(tab-land) {
    #popup-btn {
      display: block;
      text-align: center;
    }
  }

  &__content {
    width: 75%;

    z-index: 6;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: $border-radius-primary;
    display: table;

    @include vertical-horizontal-center;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.3s 0.2s;
  }

  &__left {
    width: 33.333%;
    display: table-cell;

    @include response(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    width: 66.6667%;
    padding: 3rem 5rem;
    display: table-cell;
    vertical-align: middle;

    @include response(tab-port) {
      width: 100%;
      display: block;
      vertical-align: none;
    }
  }

  &__image {
    display: block;
    width: 100%;

    @include response(tab-port) {
      width: 49.5%;
      display: inline-block;
    }
  }

  &__paragraph {
    font-size: 1.4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid $color-grey-light-1;

    hyphens: auto;

    @include response(phone) {
      column-count: 1;
      column-gap: 0rem;
      column-rule: none;
      hyphens: auto;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    font-size: 3rem;
    display: inline-block;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    line-height: 1;

    a {
      color: $color-grey-dark;
      text-decoration: none;

      @include response(tab-port) {
        color: $color-grey-dark-2;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}
